@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root {
    --qode-main-color: #7f2ef8;
    --qode-gradient-color-one: #dbc7e5;
    --qode-gradient-color-middle: #7c3af9;
    --qode-gradient-color-two: #962ef2;
    --qode-header-light-color: #fff;
    --qode-header-light-hover-color: #fff;
    --qode-header-dark-color: #000;
    --qode-header-dark-hover-color: #7f2ef8;
    --qode-second-color: #f8e4eb;
    --qode-third-color: #2b0054;
    --white: #fff;
    --black: #000;  

    --grad: linear-gradient(120deg, #CF00E5 0%, #8300D8 100%);
    --purp: #CF00E5;
    --blue1: #000628;
    --blue2: #020d2d;
    --blue3: #041130;  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: #2b0054;
    background-color: var(--qode-third-color);
    background-image: url("./components/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    color: var(--white);
    font-family: "Poppins", sans-serif;
    text-transform: capitalize
}

button {
    font-family: "Poppins", sans-serif;
}

.container {
    margin: auto;
    max-width: 80%
}

.flex {
    align-items: center;
    display: flex
}

.flex-b,
.flex-b-g {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.flex-b-g {
    gap: 20px
}

a,
button,
li,
ul {
    background: none;
    border: none;
    color: #fff;
    color: var(--white);
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none
}

header {
    padding: 20px 0
}

header .logo img {
    width: 50px
}

header button {
    font-size: 1rem;
}

header .open-menu {
    display: none;
    cursor: pointer;
}

.w-50 {
    width: 50%
}

.home {
    position: relative
}

.home .container {
    align-items: center;
    background-image: url("./components/assets/images/hero-container-bg.png");
    background-position: 100%;
    background-repeat: no-repeat;
    display: flex;
    height: 90vh
}

.home h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px
}

.home h1 span {
    color: #7f2ef8;
    color: var(--qode-header-dark-hover-color)
}

.home .right {
    width: 40%
}

.btn {
    transition: all;
    transition-duration: 200ms;
}

.btn:hover {
    color: #000;
    background: #fff;
}

.card {
    align-items: flex-start;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: #ffffff25;
    border: 1px solid hsla(0, 0%, 100%, .22);
    border-radius: 9px;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 50px 29px 26px;
    position: relative
}

.card img {
    border: 4px solid #ff0;
    border-radius: 50%;
    height: 60px;
    object-fit: cover;
    width: 60px
}

.card img:nth-child(2),
.card img:nth-child(3) {
    margin-left: -20px
}

.card label {
    margin-left: 20px
}

.card h3 {
    color: #fff;
    color: var(--white);
    font-weight: 500;
    margin: 20px 0
}

.card h5 {
    color: #7f2ef8;
    color: var(--qode-header-dark-hover-color);
    font-weight: 500
}

label {
    font-size: 16px
}

.home .card {
    background: none
}

.grid-3 {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.grid-4 {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.custom-slider img {
    border-radius: 10px;
    width: 100%
}

.custom-slider h3 {
    font-size: 18px;
    font-weight: 500
}

.custom-slider span {
    font-size: 15px
}

.custom-slider .box>div {
    margin: 10px
}

.author {
    margin-top: 15%;
    text-align: center
}

.author img {
    border: none;
    height: 120px;
    left: 40%;
    position: absolute;
    top: -60px;
    width: 120px
}

.author label {
    display: block;
    padding: 40px
}

.home-wrapper .right {
    position: relative
}

.home-wrapper img {
    height: 350px;
    object-fit: contain;
    position: absolute;
    right: 0;
    top: -150px;
    width: 100%
}

.home-wrapper img:first-child {
    right: -20%;
    top: -180px;
    z-index: 1
}

.home-wrapper img:nth-child(3) {
    right: -55%
}

.home-wrapper img:nth-child(2) {
    right: 15%
}

.banner .box {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 50vh;
    margin-bottom: 30px;
    padding: 80px
}

.banner .box1 {
    background: url("./components/assets/images/banner-bg.jpg");
    background-size: cover
}

.banner .box2 {
    background: url("./components/assets/images/box-bg1.jpg");
    background-size: cover;
    height: 70vh
}

.banner .box3 {
    background: url(./components/assets/images/box-bg2.gif);
    height: 70vh
}

.banner h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px
}

.collections {
    margin: 10% 0
}

.collections .text {
    margin-bottom: 80px;
    text-align: center
}

.collections h2 {
    font-size: 35px;
    font-weight: 500
}

.collections .card {
    padding: 20px
}

.collections .card .imgs .img img {
    border: none;
    border-radius: 0;
    height: 100%;
    width: 100%
}

.collections .card .user {
    height: 100px;
    margin-left: 5px;
    margin-top: -50px;
    width: 100px
}

footer {
    background-color: #000;
    background-color: var(--qode-header-dark-color);
    padding: 50px 0
}

footer .logo img {
    margin-bottom: 50px;
    width: 120px
}

footer .left {
    width: 30%
}

footer .right {
    padding-left: 50px;
    flex: 1;
}

footer .left .box {
    border: 1px solid #fff;
    border: 1px solid var(--white);
    border-radius: 10px;
    margin-right: 10px;
    padding: 2px 15px
}

footer .left .text {
    align-items: start;
    flex-direction: column;
    margin-left: 15px
}

footer .left span {
    font-size: 12px
}

footer .left label {
    font-size: 13px
}

footer li h4 {
    font-weight: 500;
    margin-bottom: 20px
}

footer li {
    font-size: 16px;
    font-weight: 400
}

footer li a {
    color: gray;
    display: block;
    margin: 10px 0;
    transition: .5s
}

footer li a:hover {
    color: #7f2ef8;
    color: var(--qode-header-dark-hover-color)
}

.blog {
    margin: 80px 0
}

.blog .card {
    background: none;
    padding: 15px;
    cursor: pointer;
    transition: all .3s;
}

.blog .card:hover {
    background: rgba(255, 255, 255, 0.145);
}

.blog h1 {
    font-size: 25px;
    font-weight: 500
}

.blog img {
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 100%
}

.blog .card button svg {
    transition: all .3s;
}

.blog .card:hover button svg {
    transform: translateX(3px);
}

.blogpage {
    margin: 30px 0
}

.blogpage h1 {
    font-size: 50px
}

.blogpage p {
    font-size: 17px;
    line-height: 35px;
    margin: 20px 0
}

.blogpage h3 {
    font-size: 30px
}

.shop-card .shop-card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease 0s;
}

.shop-card:hover .shop-card_image img {
    transform: scale(1.1);
}

.shop-card .shop-card_content {
    background: rgba(255, 255, 255, 0.22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
        transition: all;
    transition-duration: 200ms;
}

.shop-card:hover .shop-card_content {
    background-color: #ffffff44;
}

.css-ef717n {
    position: relative;
}

.css-ef717n::before {
    height: 0px;
    content: "";
    display: block;
    padding-bottom: 56.4565%;
}

.css-ef717n > img, .css-ef717n > video {
    object-fit: cover;
}

.css-ef717n > :not(style) {
    overflow: hidden;
    position: absolute;
    inset: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 720px) {
    .css-ef717n::before {
        padding-bottom: 45.4545%;
    }
}

@media screen and (min-width: 960px) {
    .css-ef717n::before {
        padding-bottom: 29.2079%;
    }
}

@media only screen and (max-width:768px) {
    header {
        background-color: #000;
        background-color: var(--black)
    }

    header .open-menu {
        display: block
    }

    header .desktop-view {
        display: none
    }

    header .mobile-view {
        background-color: #000;
        background-color: var(--black);
        display: block;
        height: 30vh;
        left: 0;
        position: absolute;
        top: 90px;
        width: 100%;
        z-index: 55
    }

    header .mobile-view ul {
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    .home .container {
        flex-direction: column;
        height: auto
    }

    .w-50 {
        width: 100%
    }

    .grid-3,
    .grid-4 {
        grid-template-columns: repeat(2, 1fr)
    }

    .home .right {
        margin-top: 50px;
        width: 100%
    }

    .custom-slider {
        margin: 10% 0
    }

    .author .card {
        margin-bottom: 20%;
        text-align: center
    }

    .author img {
        left: 30%
    }

    .home-wrapper img {
        display: none
    }

    .banner .boxes,
    footer .container {
        flex-direction: column
    }

    .collections .grid-3 {
        grid-template-columns: repeat(1, 1fr)
    }

    footer .left,
    footer .right {
        border: none;
        margin-bottom: 30px;
        padding: 0;
        width: 100%
    }

    .blog .grid-3 {
        grid-gap: 50px;
        grid-template-columns: repeat(1, 1fr)
    }
}

.active a {
    color: #7f2ef8;
    color: var(--qode-header-dark-hover-color)
}


/* Dasboard */
.dashboard-wrapper {
    background: var(--blue1);
    display: flex;
    flex-direction: column;    
}

.flex-div {
    display: flex;
    align-items: center;
}

body {
    background-color: var(--blue1);
}

/* Navigation Bar */

.our-nav {
    padding: 8px 2% 8px 8%;
    background-color: var(--blue1);
    justify-content: space-between;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.nav-icon {
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 3px 8px;
    display: none;
}

.nav-icon:hover {
    background-color: var(--blue2);
}

.nav-left .search-box {
    padding: 6px 10px;
    border-radius: 25px;
    background: var(--blue2);
    border: 1px solid rgb(255 255 255 / 31%);
    transition: all ease 0.3s;
}

.nav-left .search-box:hover {
    border-color: #fff;
}

.nav-left .search-box i {
    font-size: 1rem;
    color: #ccc;
}

.nav-left .search-box input {
    border: 0;
    outline: 0;
    background: transparent;
    padding-left: 5px;
    color: #fff;
}

.nav-middle .amount-eth {
    padding: 4px 8px;
    background: var(--blue2);
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
}

.nav-middle .amount-eth p {
    padding-left: 5px;
}

.nav-middle .notif {
    padding: 4px;
    background: var(--blue2);
    border-radius: 5px;
    font-size: 1.4rem;
    margin-left: 1rem;
    color: #fff;
    cursor: pointer;
}

.nav-right .profil {
    padding: 4px 8px;
    background: var(--blue2);
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
}

.nav-right .profil img {
    width: 25px;
    border-radius: 15px;
}

.nav-right .profil p {
    font-size: 0.8rem;
    margin-right: 4px;
}

.nav-right .profil i {
    padding-left: 10px;
    cursor: pointer;
}

/* Side Bar */
.side-bar {
    width: 6%;
    height: 170vh;
    background: var(--blue2);
    padding-left: 2%;
    padding-top: 20px;
    top: 0;
    z-index: 30;
    position: fixed;
}

.logo img {
    width: 35px;
}

.shorcut-links {
    padding-top: 25px;
}

.shorcut-links a {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: .5rem 5px;
    flex-wrap: wrap;
    color: #fff;
    font-size: 1.2rem;
    transition: all ease 0.3s;
    border-radius: 6px;
}

.shorcut-links a:hover {
    background: rgba(255, 255, 255, 0.145);
}

/* Main Section */
.dashboard-container {
    display: flex;
    background: var(--blue1);
}

/* Large Container */
.large-container {
    flex-basis: 70%;
    background: var(--blue1);
    padding-left: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-container {
    background: var(--blue2);
    border-radius: 15px;
    display: flex;
    padding: 20px;
    gap: 20px;
}

.nft img {
    width: 300px;
    border-radius: 15px;
}

.creator img {
    width: 25px;
    border-radius: 25px;
}

.creator-1 {
    /* margin-left: 15px; */
}

.creator-1 img {
    border-radius: 5px;
}

.creator p {
    color: white;
    padding-left: 5px;
}

.title-nft {
    margin-top: 5px;
}

.nft-text h1 {
    color: white;
}

.detail-nft {
    padding: 15px 0;
    background: var(--blue3);
    margin-top: .5rem;
    border-radius: 10px;
    color: white;
    justify-content: space-between;
}

.sale-detail {
    padding-left: 6rem;
}

.sale-detail span {
    display: flex;
}

.sale-detail span p {
    padding-right: 25px;
}

.option-nft {
    justify-content: space-around;
    margin-top: 20px;
    background: var(--blue3);
    border-radius: 15px;
}

.option-nft i {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.option-nft i:hover {
    color: var(--purp);
}

.option-nft .button-1 button {
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    background: transparent;
    transition: all ease 0.3s;
}

.option-nft .button-1 button:hover {
    border: 1px solid #8300D8;
    color: #8300D8;
}

.option-nft .button-2 {
    padding-left: 2rem;
}

.option-nft .button-2 button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--grad);
    color: #fff;
    transition: all ease 0.3s;
    border: 1px solid transparent;
}

.option-nft .button-2 button:hover {
    background: transparent;
    border: 1px solid #8300D8;
    color: #8300D8;
}

.list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    margin-top: 20px;
    padding: 20px;
    background: var(--blue2);
    border-radius: 15px;
}

.nft-list .thumbnail {
    width: 100%;
    border-radius: 10px;
}

.creator-2 {
    padding-top: 5px;
}

.creator-2 p {
    font-size: .8rem;
}

.nft-list {
    border-radius: 10px;
    padding: 4px;    
    transition: all .3s;
}

.nft-list:hover {
    background: rgba(255, 255, 255, 0.145);   
}

.nft-list-detail {
    padding-left: 10px;
}

.list-detail-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.more-detail-price p {
    font-size: .8rem;
    color: #fff;
    font-weight: 300;
}

.more-detail-price h1 {
    font-size: 1rem;
    font-weight: 500;
}

.more-detail-hours {
    padding-left: 2.5rem;
}

.more-detail-hours p {
    color: #fff;
    font-size: .8rem;
    font-weight: 300;
}

.more-detail-hours h1 {
    font-size: 1rem;
    font-weight: 500
}

.show-list {
    margin-top: 1rem;
}

.show-list button {
    display: flex;
    align-items: center;    
    padding: 8px 30px;
    text-align: center;
    background: var(--grad);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.5s;
}

.show-list button i {
}

.show-list-icon {
    margin-left: 5px;
}

.show-list button:hover {
    background: none;
    transform: translateX(10px);
}

/* Side Container */
.side-container {
    padding-top: 20px;
    background: var(--blue1);
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    flex-basis: 30%;
    z-index: 10;
}

.activity {
    padding: 20px;
    background: var(--blue2);
    border-radius: 15px;
}

.activity h1 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.day {
    padding: 4px 12px;
    background: var(--blue3);
    border-radius: 5px;
}

.day p {
    color: #ccc;
    font-size: .7rem;
    padding-right: 10px;
}

.day a i {
    color: #ccc;
}

.activity-items {
    padding: 8px;
    background: var(--blue3);
    border-radius: 5px;
    margin-top: 13px;
}

.activity-thumbnail {
    width: 50px;
    border-radius: 5px;
}

.items-detail {
    padding-left: 5px;
}

.items-detail h2 {
    color: #fff;
    font-size: 1rem;
    padding-left: 10px;
}

.activity-title {
    justify-content: space-between;
}

.items-detail p {
    padding-left: 10px;
    font-size: .7rem;
    color: #ccc;
}

.activity-button {
    padding-top: 25px;
}

.activity-button button {
    width: 100%;
    padding: 8px 0;
    border-radius: 5px;
    border: none;
    background: var(--blue3);
    color: #fff;
    cursor: pointer;
    transition: all ease 0.5s;
    border: 1px solid transparent;
}

.activity-button button:hover {
    background: transparent;
    border: 1px solid #CF00E5;
    color: #CF00E5;
}

.top-items {
    padding: 3px;
    background: var(--blue3);
    border-radius: 5px;
    margin-bottom: 10px;
}

.top-creators {
    margin-top: 20px;
    background: var(--blue2);
    padding: 20px;
    border-radius: 15px;
}

.top-title {
    justify-content: space-between;
    padding-bottom: 10px;
}

.items-creator {
    justify-content: space-between;
}

.top-title h1 {
    color: #fff;
    font-size: 1.2rem;
}

.top-items img {
    width: 30px;
    border-radius: 5px;
}

.see-all p {
    color: #fff;
    font-size: .8rem;
}

.see-all i {
    color: #fff;
    font-size: .8rem;
    padding-left: 8px;
}

.items-thumbnail {
    align-items: center;
    padding: 0 5px;
}

.items-thumbnail p {
    color: #ccc;
    font-size: .6rem;
}

.items-thumbnail h2 {
    font-size: .8rem;
    color: #fff;
}

.items-thumbnail div {
    padding-left: 10px;
}

.thumbnail-button {
    padding-left: 2rem;
    padding-right: 5px;
}

.thumbnail-button button {
    padding: 3px 30px;
    border: none;
    background: var(--grad);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.3s;
    border: 1px solid transparent;
}

.thumbnail-button button:hover {
    background: transparent;
    color: #CF00E5;
    border: 1px solid #CF00E5;
}

/* Footer */

.copyright {
    text-align: center;
    margin: 2rem 0;
}

.copyright p {
    font-size: .8rem;
    color: #ccc;
}