@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root {
    --qode-main-color: #7f2ef8;
    --qode-gradient-color-one: #dbc7e5;
    --qode-gradient-color-middle: #7c3af9;
    --qode-gradient-color-two: #962ef2;
    --qode-header-light-color: #fff;
    --qode-header-light-hover-color: #fff;
    --qode-header-dark-color: #000;
    --qode-header-dark-hover-color: #7f2ef8;
    --qode-second-color: #f8e4eb;
    --qode-third-color: #2b0054;
    --white: #fff;
    --black: #000;  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: #2b0054;
    background-color: var(--qode-third-color);
    background-image: url("./components/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    color: var(--white);
    font-family: "Poppins", sans-serif;
    text-transform: capitalize
}

button {
    font-family: "Poppins", sans-serif;
}

.container {
    margin: auto;
    max-width: 80%
}

.flex {
    align-items: center;
    display: flex
}

.flex-b,
.flex-b-g {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.flex-b-g {
    gap: 20px
}

a,
button,
li,
ul {
    background: none;
    border: none;
    color: #fff;
    color: var(--white);
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none
}

header {
    padding: 20px 0
}

header .logo img {
    width: 50px
}

header button {
    font-size: 1rem;
}

header .open-menu {
    display: none;
    cursor: pointer;
}

.w-50 {
    width: 50%
}

.home {
    position: relative
}

.home .container {
    align-items: center;
    background-image: url("./components/assets/images/hero-container-bg.png");
    background-position: 100%;
    background-repeat: no-repeat;
    display: flex;
    height: 90vh
}

.home h1 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px
}

.home h1 span {
    color: #7f2ef8;
    color: var(--qode-header-dark-hover-color)
}

.home .right {
    width: 40%
}

.btn {
    transition: all;
    transition-duration: 200ms;
}

.btn:hover {
    color: #000;
    background: #fff;
}

.card {
    align-items: flex-start;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: #ffffff25;
    border: 1px solid hsla(0, 0%, 100%, .22);
    border-radius: 9px;
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 50px 29px 26px;
    position: relative
}

.card img {
    border: 4px solid #ff0;
    border-radius: 50%;
    height: 60px;
    object-fit: cover;
    width: 60px
}

.card img:nth-child(2),
.card img:nth-child(3) {
    margin-left: -20px
}

.card label {
    margin-left: 20px
}

.card h3 {
    color: #fff;
    color: var(--white);
    font-weight: 500;
    margin: 20px 0
}

.card h5 {
    color: #7f2ef8;
    color: var(--qode-header-dark-hover-color);
    font-weight: 500
}

label {
    font-size: 16px
}

.home .card {
    background: none
}

.grid-3 {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.grid-4 {
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

.custom-slider img {
    border-radius: 10px;
    width: 100%
}

.custom-slider h3 {
    font-size: 18px;
    font-weight: 500
}

.custom-slider span {
    font-size: 15px
}

.custom-slider .box>div {
    margin: 10px
}

.author {
    margin-top: 15%;
    text-align: center
}

.author img {
    border: none;
    height: 120px;
    left: 40%;
    position: absolute;
    top: -60px;
    width: 120px
}

.author label {
    display: block;
    padding: 40px
}

.home-wrapper .right {
    position: relative
}

.home-wrapper img {
    height: 350px;
    object-fit: contain;
    position: absolute;
    right: 0;
    top: -150px;
    width: 100%
}

.home-wrapper img:first-child {
    right: -20%;
    top: -180px;
    z-index: 1
}

.home-wrapper img:nth-child(3) {
    right: -55%
}

.home-wrapper img:nth-child(2) {
    right: 15%
}

.banner .box {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 50vh;
    margin-bottom: 30px;
    padding: 80px
}

.banner .box1 {
    background: url("./components/assets/images/banner-bg.jpg");
    background-size: cover
}

.banner .box2 {
    background: url("./components/assets/images/box-bg1.jpg");
    background-size: cover;
    height: 70vh
}

.banner .box3 {
    background: url(./components/assets/images/box-bg2.gif);
    height: 70vh
}

.banner h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px
}

.collections {
    margin: 10% 0
}

.collections .text {
    margin-bottom: 80px;
    text-align: center
}

.collections h2 {
    font-size: 35px;
    font-weight: 500
}

.collections .card {
    padding: 20px
}

.collections .card .imgs .img img {
    border: none;
    border-radius: 0;
    height: 100%;
    width: 100%
}

.collections .card .user {
    height: 100px;
    margin-left: 5px;
    margin-top: -50px;
    width: 100px
}

footer {
    background-color: #000;
    background-color: var(--qode-header-dark-color);
    padding: 50px 0
}

footer .logo img {
    margin-bottom: 50px;
    width: 120px
}

footer .left {
    width: 30%
}

footer .right {
    padding-left: 50px;
    flex: 1;
}

footer .left .box {
    border: 1px solid #fff;
    border: 1px solid var(--white);
    border-radius: 10px;
    margin-right: 10px;
    padding: 2px 15px
}

footer .left .text {
    align-items: start;
    flex-direction: column;
    margin-left: 15px
}

footer .left span {
    font-size: 12px
}

footer .left label {
    font-size: 13px
}

footer li h4 {
    font-weight: 500;
    margin-bottom: 20px
}

footer li {
    font-size: 16px;
    font-weight: 400
}

footer li a {
    color: gray;
    display: block;
    margin: 10px 0;
    transition: .5s
}

footer li a:hover {
    color: #7f2ef8;
    color: var(--qode-header-dark-hover-color)
}

.blog {
    margin: 80px 0
}

.blog .card {
    background: none;
    padding: 15px;
    cursor: pointer;
    transition: all .3s;
}

.blog .card:hover {
    background: rgba(255, 255, 255, 0.145);
}

.blog h1 {
    font-size: 25px;
    font-weight: 500
}

.blog img {
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 100%
}

.blog .card button svg {
    transition: all .3s;
}

.blog .card:hover button svg {
    transform: translateX(3px);
}

.blogpage {
    margin: 30px 0
}

.blogpage h1 {
    font-size: 50px
}

.blogpage p {
    font-size: 17px;
    line-height: 35px;
    margin: 20px 0
}

.blogpage h3 {
    font-size: 30px
}

.shop-card .shop-card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease 0s;
}

.shop-card:hover .shop-card_image img {
    transform: scale(1.1);
}

.shop-card .shop-card_content {
    background: rgba(255, 255, 255, 0.22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
        transition: all;
    transition-duration: 200ms;
}

.shop-card:hover .shop-card_content {
    background-color: #ffffff44;
}

.css-ef717n {
    position: relative;
}

.css-ef717n::before {
    height: 0px;
    content: "";
    display: block;
    padding-bottom: 56.4565%;
}

.css-ef717n > img, .css-ef717n > video {
    object-fit: cover;
}

.css-ef717n > :not(style) {
    overflow: hidden;
    position: absolute;
    inset: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 720px) {
    .css-ef717n::before {
        padding-bottom: 45.4545%;
    }
}

@media screen and (min-width: 960px) {
    .css-ef717n::before {
        padding-bottom: 29.2079%;
    }
}

@media only screen and (max-width:768px) {
    header {
        background-color: #000;
        background-color: var(--black)
    }

    header .open-menu {
        display: block
    }

    header .desktop-view {
        display: none
    }

    header .mobile-view {
        background-color: #000;
        background-color: var(--black);
        display: block;
        height: 30vh;
        left: 0;
        position: absolute;
        top: 90px;
        width: 100%;
        z-index: 55
    }

    header .mobile-view ul {
        display: flex;
        flex-direction: column;
        gap: 30px
    }

    .home .container {
        flex-direction: column;
        height: auto
    }

    .w-50 {
        width: 100%
    }

    .grid-3,
    .grid-4 {
        grid-template-columns: repeat(2, 1fr)
    }

    .home .right {
        margin-top: 50px;
        width: 100%
    }

    .custom-slider {
        margin: 10% 0
    }

    .author .card {
        margin-bottom: 20%;
        text-align: center
    }

    .author img {
        left: 30%
    }

    .home-wrapper img {
        display: none
    }

    .banner .boxes,
    footer .container {
        flex-direction: column
    }

    .collections .grid-3 {
        grid-template-columns: repeat(1, 1fr)
    }

    footer .left,
    footer .right {
        border: none;
        margin-bottom: 30px;
        padding: 0;
        width: 100%
    }

    .blog .grid-3 {
        grid-gap: 50px;
        grid-template-columns: repeat(1, 1fr)
    }
}

.active a {
    color: #7f2ef8;
    color: var(--qode-header-dark-hover-color)
}


